<p>registered-courses works!</p>

<table class="table table-striped">
  <thead>
    <tr>
     
      <th scope="col">Block</th>
      <th scope="col">Course</th>
      <th scope="col">Title</th>
      <th scope="col">Faculty</th>
      <th scope="col">Start Date</th>
      <!-- <th scope="col">End Date</th> -->
    </tr>
  </thead>

<!-- <ng-template ngFor let-schedule [ngForOf]="schedule" > -->
  <tr *ngFor="let record of records">
      <td>
          {{ record.block }}
      </td>
      <td> 
          {{ record.courseCode }}
      </td>
      <td> 
        {{ record.title }}
      </td>
      <td> 
        {{ record.faculty }}
      </td>
      <td> 
        {{ record.startDate }}
      </td>
  </tr>
<!-- </ng-template> -->
</table>